# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = newslist_redis.settings

[deploy:SpiderServer]
url = http://192.168.1.251:6800/
project = newslist_redis
